@keyframes slide-ir-y-volver {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-20px);
    }
    
    66%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0);
    }
    
  }

  
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
   
    background-size:cover;
    position: relative;
    margin-top: 7rem;
    
}

button{
    cursor: pointer;
}

.botonClasico{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.BotonIrAlCarrito{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.main .Error404{
    height: 80.5vh;
    width: 100%;
    background-image: url(/public/assets/404.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main .Error404 .TextoError{
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    text-shadow: 1px 1px 4px black;
}

.main .ContenedorCargando{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80.5vh;
    align-items: center;
}



.main .ContenedorCargando .cargando{
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 15rem;
}

.main .ContenedorCart{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    align-items: center;
}

.main .ContenedorCart .CartTitulo{
    display: flex;
    width: 100%;
    justify-content:center;
}
.main .ContenedorCart .CartTitulo h2{
    display: flex;
    align-items: center;
    
    
   
    
}

.main .ContenedorCart .CartTitulo  .botonVolver{
    width: 6rem;
    display: flex;
    position: relative;
    right: 36rem;
    
 
}
.botonVolver:hover{
    animation: slide-ir-y-volver 1s;
}

.main .ContenedorCart .Cart{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.main .ContenedorCart .Cart .CartProductos{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main .ContenedorCart .Cart .CartProductos .CartTitulos{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 2.5rem;
    border-bottom: 1px solid black;
    
}

.CartTitulos h3:nth-child(1){
    position: relative;
    right: 6.5rem;
}
.CartTitulos h3:nth-child(2){
    position: relative;
    left: 6rem;
}

.CartTitulos h3:nth-child(3){
    position: relative;
    left: 4rem;
}

.CartTitulos h3:nth-child(4){
    position: relative;
    left: 2.9rem;
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido{
    margin-bottom: 2rem;
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid white 1px;
    margin-top: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}



.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo{
    display: flex;
    position: relative;
    right: 2.5rem;
    width: 24rem;
    height: 10rem;
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo img{
    width: 10rem;
    height: 10rem;
    
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo .itemCartinfoNombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemPrecio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 1.5rem;

}

.itemPrecio h4{
    position: relative;
    right: 3.3rem;
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 3rem;

}


.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 0rem;
    padding: 0;
    width: 8rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
   

}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count .botonCart{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;

    
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count .botonCart:active {
  transform: scale(0.60); 
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .Subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 0rem;

}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido{
    display: flex;
    flex-direction: column;
    
    
}


.main .ContenedorCart .Cart .CartResumen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 26%;
    height: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    margin-top: 1rem;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.main .ContenedorCart .Cart .CartResumen h3{
    display: flex;
    justify-self: flex-start;
}



.main .ContenedorCart .Cart .CartResumen .CartPrecioTotal{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.main .wrapper{
    width: 90%;
    margin-top: 4rem;
}

.main .wrapper ul{
   display: flex;
   flex-direction: row;
   list-style: none;
   width: 90%;
   
   
}

.main .wrapper ul li{
    padding: 0.5rem;
    padding-left: 0;
    padding-right: 1rem;
    text-decoration: none;
    color: black;
}

.main .wrapper ul .active a{
    font-weight: bolder;
}

.main .wrapper ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight:500;
}


.main .ContenedorCatalogo{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
   
    
    
}

.main .ContenedorCatalogo .ItemList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.4rem;
    margin-bottom: 2rem;
   
}

.main .ContenedorCatalogo .ItemList .Producto{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding:2rem;
    width: 22.75vw;
    border: 0.01rem solid rgba(128, 128, 128, 0.2) ;
    justify-self: center;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.6s ease-in-out;

}

.main .ContenedorCatalogo .ItemList .Producto:hover{
    transform: scale(1.02);
}

.main .ContenedorCatalogo .ItemList .Producto:hover{
    border: 0.09rem solid rgb(121, 77, 162);
     
}

.main .ContenedorCatalogo .ItemList .Producto:hover .BotonProducto{
    opacity: 1;
    transform: translateY(40%);
     
}


.main .ContenedorCatalogo .ItemList .Producto .BotonProducto{
    opacity: 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: opacity 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    background-color: rgba(218, 162, 236, 0.2);
    
    
}


.main .ContenedorCatalogo .ItemList .Producto .imagenContenedor{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    width: 200px;
    height: 200px;
    
}


.main .ContenedorCatalogo .ItemList .Producto .imagenContenedor .imagenProducto{
    width: 200px;
    height: 200px;
    
    
}



.main .ContenedorCatalogo .ItemList .Producto .nombreProducto{
    height: 44.8px;
    
}

.main .ContenedorCatalogo .ItemList .Producto .DescripcionProducto{
    display: flex;
    width: 80%;
    text-align: center;
    height: 7rem;
    
}

.main .ContenedorCatalogo .ItemList .Producto .PrecioProducto{
    display: flex;
    font-weight:400;
    font-size:large;
    justify-self: flex-end;
    
}

.main .ContenedorCatalogo .ItemList .Producto  .LinkBotonDetalles{
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: center;
}


.main .ItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    align-self: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: 0.01rem solid rgba(128, 128, 128, 0.2) ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.main .ItemDetail  .botonVolver{
    width: 6rem;
   
    
}

.main .ItemDetail .botonVolver:hover{
    animation: slide-ir-y-volver 1s;
}

.main .ItemDetail .ItemDetail-Item{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    width: 70%;
    transition: transform 0.6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
}

.main .ItemDetail .ItemDetail-Item:hover{
    transform: scale(1.02);
}

.main .ItemDetail .ItemDetail-Item .TituloImagen{
    display: flex;
    flex-direction: column;
    align-items:center ;
    
}

.main .ItemDetail .ItemDetail-Item .TituloImagen .TituloDetail{
    
    
}

.main .ItemDetail .ItemDetail-Item .informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    justify-content: center;
    padding-left: 4rem;
    border-left: 1px solid black;
    
}




.contenedor-item-count{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 55%;
    align-self: center;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;

}

.contenedor-item-count:hover{
    transform: scale(1.05);
}


.contenedor-item-count .controles{
    display: flex;
    width: 7rem;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.contenedor-item-count .controles .boton-quitar{
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;

    
}

.contenedor-item-count .controles .boton-quitar:active {
  transform: scale(0.70); 
}

.contenedor-item-count .controles .boton-agregar{
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
}
.contenedor-item-count .controles .boton-agregar:active {
    transform: scale(0.70); 
  }

.contenedor-item-count .controles .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-item-count .boton-agregar-carrito{
    padding: 0.2rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
}
.contenedor-item-count .boton-agregar-carrito:active{

    transform: scale(0.70); 
}

.containerNosotros{
    height: 156.2rem;
    width: 100vw;
    background-image: url(../../../public/assets/fondoSobreNosotros.png);
    
    
}