@keyframes slide-ir-y-volver {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-20px);
    }
    
    66%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0);
    }
    
  }

  
@keyframes sliderAnimacion{

    0%{margin-left: 0%}
    20%{margin-left: 0%}

    25%{margin-left: 100%}
    45%{margin-left: 100%}

    50%{margin-left: 200%}
    70%{margin-left: 200%}

    75%{margin-left: 300%}
    95%{margin-left: 300%}

}


p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
   
    background-size:cover;
    position: relative;
    margin-top: 7rem;
    
}

button{
    cursor: pointer;
}


.botonLimpiarCarrito{
    width: 50%;
    height: 2rem;
    border-radius: 1rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2rem;
}

.BotonIrAlCarrito{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.main .Error404{
    height: 80.5vh;
    width: 100%;
    background-image: url(/public/assets/404.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main .Error404 .TextoError{
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    text-shadow: 1px 1px 4px black;
}

.main .ContenedorCargando{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80.5vh;
    align-items: center;
}



.main .ContenedorCargando .cargando{
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 15rem;
}

.main .ContenedorCart{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    align-items: center;
}

.main .ContenedorCart .CartTitulo{
    display: flex;
    width: 100%;
    justify-content:center;
}
.main .ContenedorCart .CartTitulo h2{
    display: flex;
    align-items: center;
    
    
    
    
}

.main .ContenedorCart .CartTitulo  .botonVolver{
    width: 6rem;
    display: flex;
    position: relative;
    right: 36rem;
    
    
}
.botonVolver:hover{
    animation: slide-ir-y-volver 1s;
}

.main .ContenedorCart .Cart{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.main .ContenedorCart .Cart .CartProductos{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main .ContenedorCart .Cart .CartProductos .CartTitulos{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 2.5rem;
    border-bottom: 1px solid black;
    
}

.CartTitulos h3:nth-child(1){
    position: relative;
    right: 6.5rem;
}
.CartTitulos h3:nth-child(2){
    position: relative;
    left: 5rem;
}

.CartTitulos h3:nth-child(3){
    position: relative;
    left: 1.7rem;
}

.CartTitulos h3:nth-child(4){
    position: relative;
    right:0.5rem
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid white 1px;
    margin-top: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}



.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo{
    display: flex;
    position: relative;
    right: 2.5rem;
    width: 24rem;
    height: 10rem;
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo img{
    width: 10rem;
    height: 10rem;
    
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemInfo .itemCartinfoNombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemPrecio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 1.5rem;
    
}

.itemPrecio h4{
    position: relative;
    right: 3.3rem;
}
.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 3rem;
    
}


.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 0rem;
    padding: 0;
    width: 8rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count .botonCart{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
    
    
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .itemCart .itemCantidad .contenedor-item-count .botonCart:active {
    transform: scale(0.60); 
}

 .CartProductosContenido .itemCart .Subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 0rem;
    
}

.main .ContenedorCart .Cart .CartProductos .CartBotonLimpiar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .ContenedorCart .Cart .CartProductos .CartBotonLimpiar .botonLimpiarCarrito{
    width: 50%;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.main .ContenedorCart .Cart .CartProductos .CartBotonLimpiar .botonLimpiarCarrito:active{
    transform: scale(0.70); 
}

.main .ContenedorCart .Cart .CartResumen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 26%;
    height: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    margin-top: 1rem;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.main .ContenedorCart .Cart .CartResumen h3{
    display: flex;
    justify-self: flex-start;
}



.main .ContenedorCart .Cart .CartResumen .CartPrecioTotal{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main .ContenedorCart .Cart .CartResumen .botonClasico{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    transition: transform 0.2s ease-in-out;
}

.main .ContenedorCart .Cart .CartResumen .botonClasico:active{
    transform: scale(0.70); 
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .CartNoProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .CartNoProductos .TituloNoProductos{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.main .ContenedorCart .Cart .CartProductos .CartProductosContenido .CartNoProductos .carritoVacio{
    width: 15rem;
}

.main .wrapper{
    width: 90%;
    margin-top: 4rem;
}

.main .wrapper ul{
   display: flex;
   flex-direction: row;
   list-style: none;
   width: 90%;
   
   
}

.main .wrapper ul li{
    padding: 0.5rem;
    padding-left: 0;
    padding-right: 1rem;
    text-decoration: none;
    color: black;
}

.main .wrapper ul .active a{
    font-weight: bolder;
}

.main .wrapper ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight:500;
}


.main .ContenedorCatalogo{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
   
    
    
}

.main .ContenedorCatalogo .ItemList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.4rem;
    margin-bottom: 2rem;
   
}

.main .ContenedorCatalogo .ItemList .Producto{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding:2rem;
    width: 22.75vw;
    border: 0.01rem solid rgba(128, 128, 128, 0.2) ;
    justify-self: center;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.6s ease-in-out;

}

.main .ContenedorCatalogo .ItemList .Producto:hover{
    transform: scale(1.02);
}

.main .ContenedorCatalogo .ItemList .Producto:hover{
    border: 0.09rem solid rgb(121, 77, 162);
     
}

.main .ContenedorCatalogo .ItemList .Producto:hover .BotonProducto{
    opacity: 1;
    transform: translateY(40%);
     
}


.main .ContenedorCatalogo .ItemList .Producto .BotonProducto{
    opacity: 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: opacity 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    background-color: rgba(218, 162, 236, 0.2);
    
    
}


.main .ContenedorCatalogo .ItemList .Producto .imagenContenedor{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    width: 200px;
    height: 200px;
    
}


.main .ContenedorCatalogo .ItemList .Producto .imagenContenedor .imagenProducto{
    width: 200px;
    height: 200px;
    
    
}



.main .ContenedorCatalogo .ItemList .Producto .nombreProducto{
    height: 44.8px;
    
}

.main .ContenedorCatalogo .ItemList .Producto .DescripcionProducto{
    display: flex;
    width: 80%;
    text-align: center;
    height: 7rem;
    
}

.main .ContenedorCatalogo .ItemList .Producto .PrecioProducto{
    display: flex;
    font-weight:400;
    font-size:large;
    justify-self: flex-end;
    
}

.main .ContenedorCatalogo .ItemList .Producto  .LinkBotonDetalles{
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: center;
}


.main .ItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    align-self: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: 0.01rem solid rgba(128, 128, 128, 0.2) ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.main .ItemDetail  .botonVolver{
    width: 6rem;
   
    
}

.main .ItemDetail .botonVolver:hover{
    animation: slide-ir-y-volver 1s;
}

.main .ItemDetail .ItemDetail-Item{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    width: 70%;
    transition: transform 0.6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
}

.main .ItemDetail .ItemDetail-Item:hover{
    transform: scale(1.02);
}

.main .ItemDetail .ItemDetail-Item .TituloImagen{
    display: flex;
    flex-direction: column;
    align-items:center ;
    
}



.main .ItemDetail .ItemDetail-Item .informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    justify-content: center;
    padding-left: 4rem;
    border-left: 1px solid black;
    
}


.contenedor-item-count{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 55%;
    align-self: center;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;

}

.contenedor-item-count:hover{
    transform: scale(1.05);
}


.contenedor-item-count .controles{
    display: flex;
    width: 7rem;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.contenedor-item-count .controles .boton-quitar{
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;

    
}

.contenedor-item-count .controles .boton-quitar:active {
  transform: scale(0.70); 
}

.contenedor-item-count .controles .boton-agregar{
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
}
.contenedor-item-count .controles .boton-agregar:active {
    transform: scale(0.70); 
  }

.contenedor-item-count .controles .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-item-count .boton-agregar-carrito{
    padding: 0.2rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
}
.contenedor-item-count .boton-agregar-carrito:active{

    transform: scale(0.70); 
}

.containerNosotros{
    height: 156.2rem;
    width: 100vw;
    background-image: url(../../../public/assets/fondos/fondoSobreNosotros.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.sectionNosotros1{
    width: 100vw;
    height: 52.2rem;
    display: flex;
    justify-content: space-around;
}

.articleNosotros1{
    background-color: rgba(255, 255, 255, 0.7);
    width: 29rem;
    height: 34rem;
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleNosotros2{
    background-color: rgba(255, 255, 255, 0.7);
    width: 19rem;
    height: 30rem;
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleNosotros3{
    background-color: rgba(255, 255, 255, 0.7);
    width: 19rem;
    height: 30rem;
    position: relative;
    top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divNosotros1{
    
    width: 26.5rem;
    height: 31rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divNosotros1 .sliderContainer{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.divNosotros1 .sliderContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
    
    
}



.divNosotros1 .sliderContainer .sliderImagen{
    width: 100%;
    display: flex;
    max-height: max-content;
    opacity: 0;
    transition: 2s;
    height: 100%;
    object-fit:contain;
    
}
.divNosotros1 .sliderContainer .sliderImagen.loaded{
    
    opacity: 1;
    
    
}

.divNosotros2{
    
    width: 17rem;
    height: 26.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    
}

.divNosotros3{
    
    width: 17rem;
    height: 26.5rem;
    background-color: rgba(255, 255, 255, 0.7);;
}

.sectionNosotros2{
    width: 100vw;
    height: 52.55rem;
    display: flex;
    justify-content: space-around;
}

.articleNosotros4{
    width: 20rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.0);
    position: relative;
    right: 0rem;
    display: flex;
    align-items: center;
    top: 3rem;
}
.articleNosotros5{
    width: 23rem;
    height: 23rem;
    
    align-self: center;
    position: relative;
    left: 0rem;
    bottom: 2rem;
}

.articleNosotros5 .gifNosotros{
    width: 23rem;
    height: 23rem;
    border: 2px solid white;
    border-radius: 1000rem;
    box-shadow: inset 0 0 100px rgb(255, 255, 255);

}

.articleNosotros6{
    width: 25rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.0);
    align-self: flex-end;
    position: relative;
    right:2rem;
    bottom: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    
    
}

.h1Nosotros2{
    display: flex;
    font-size: 3.6rem;
    text-align: start;
    justify-self: center;
    color: white;
    text-shadow: 7px 3px black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    
}

.h1Nosotros3{
    display: flex;
    font-size: 3.6rem;
    text-align: end;
    justify-self: center;
    color: white;
    text-shadow: 7px 3px black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    
}

.sectionNosotros3{
    width: 100vw;
    height: 51.50rem;
    display: flex;
    justify-content: space-around;
}

.articleNosotros7{
    width: 20rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.8);
    
    
}

.main .checkout{
    
    margin-top: 6rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}



.main .checkout .checkoutForm{
    display: flex;
    border: 1px white solid;
    flex-direction: column;    
    width: 80%;
    align-self: center;
    justify-content: space-around;
    padding: 3rem;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    
}

.main .checkout .botonVolver{
    width: 6rem;
    display: flex;
    align-self: center;
}

.main .checkout .checkoutForm .checkoutTitulo{
    display: flex;
    justify-content: center;
    
}
.main .checkout .checkoutForm div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

}

.main .checkout .checkoutForm div label{
    position: relative;
    right: 8.2rem;
    width: 9rem;
    margin-bottom: 0.5rem;
    

}

.main .checkout .checkoutForm .checkoutInput{
    display: flex;
    width: 40%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: grey solid 1px
}
.main .checkout .checkoutForm .checkoutLink{
    align-self: center;
}

.main .checkout .checkoutForm .checkoutLink .checkoutBoton{
    width: 15rem;
    height: 1.6rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out;
    
    
}

.main .checkout .checkoutForm .checkoutLink .checkoutBoton:active {
    transform: scale(0.60); 
}

.main .Brief{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    align-items: center;
    
    
}

.main .Brief .BriefInfo{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.8rem;
    user-select:text;
    width: 85%;
}

.main .Brief .BriefInfo .BriefTitle{
    align-self: center;
    text-align: center;
}


.main .Brief .BriefInfo .BriefText{
    margin-top: 2rem;
    width: 60%;
    align-self: center;
    text-align: center;
    
}

.main .Brief .ResumenBrief{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.8rem;
    margin: 2rem;

}

.main .Brief .ResumenBrief .itemBreif{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;

}

.main .Brief .ResumenBrief .itemBreif .itemBreifInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    text-align: center;

}

.main .Brief .ResumenBrief .itemBreif .itemBreifInfo img{
   align-self: center;
}

.itemBreifInfo:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .Brief .ResumenBrief .BriefTotal{
    display: flex;
    justify-content: space-between;
}

