
.header{
    display: flex;

    justify-content: center;
    margin: 1.3rem;
    justify-self: center;
    user-select: none;
    position: fixed;
    width: 100vw;
    z-index: 2;
    align-self: center;
    
    
}

.Link{
    text-decoration: none;
    height: 100%;
   
    
}

.Link_marca{
    text-decoration: none;
    position: relative;
    
    top: 0.5px;
    bottom: 0;
    height: 100%;
    
    
}
  
.header_marca{
    display: flex;
    background-image: url(/public/assets/logoBackground.png);
    background-repeat: repeat-y;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
  


.header_titulo{

    color: rgb(255, 255, 255);
    font-size:2.5rem;
    padding: 1rem;
    height: 100%;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    

}

.navBar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 81rem;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

.navBar .NavBar_Contenedor{

    padding: 0.5rem;
    padding-bottom: 1rem;
    width: 55rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navBar .NavBar_Contenedor .NavBar_BarraBusqueda{

    display: flex;
    justify-content: center;
    width: 100%;
}

.navBar .NavBar_Contenedor .NavBar_BarraBusqueda .Formulario_Busqueda{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.navBar .NavBar_Contenedor .NavBar_BarraBusqueda .Formulario_Busqueda .Input_Busqueda{

    width: 100%;
    height: 1.9rem;
    border-radius: 15px;
    z-index: -0.3;
    
}

.navBar .NavBar_Contenedor .NavBar_BarraBusqueda .Formulario_Busqueda .Input_Busqueda::placeholder{
    color: #999999;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-indent: 10px; 
}
.navBar .NavBar_Contenedor .NavBar_BarraBusqueda .Formulario_Busqueda .Submit_Lupa{
    
    z-index: 1;
    height: 1.6rem;
}
.navBar .NavBar_Contenedor .NavBar_Categorias{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0.5rem;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 15px;
    height: 1.7rem;
    transition: height 0.7s ease;
    width: 100%;
    
}

.navBar .NavBar_Contenedor .NavBar_Categorias:hover{
    height: 6.3rem;
}


.navBar .NavBar_Contenedor .NavBar_Categorias{
    display: flex;

    justify-content: space-around;
}



.navBar .NavBar_Contenedor .NavBar_Categorias .btn{
    padding: 0.2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    transition: transform 0.2s ease-in-out;
    border: 0;
    background-color: rgba(108, 13, 196, 0);
    font-size: medium;
    
}

.btn:hover{
    text-shadow: 2px 2px black ;
    color: white;
    
    cursor: pointer;
    
}


.btn:active{
    transform: scale(0.70); 
}


.navBar .NavBar_Categorias  .NavBar_SubCategorias{
    display: flex;
    flex-direction: column;
    
    
}

.navBar .NavBar_Categorias   .NavBar_SubCategorias a .btnSub{
    background-color: hsla(240, 67%, 94%, 0);
    border: 0;
    font-size: medium;
    padding: 0.2rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: relative;
    left: 3.28rem;
    
}

.navBar  .NavBar_Categorias .categoriaPintura:hover  .btnSub {
    opacity: 1;
    visibility: visible;
}
.navBar  .NavBar_Categorias .categoriaHerramienta:hover  .btnSub {
    opacity: 1;
    visibility: visible;
}

.navBar .NavBar_SubCategorias .btnSub:hover{
    text-shadow: 2px 2px black ;
    color: white;
   
}
.navBar .CartWidget{
    display: flex;
    position: relative;
    top: 20px;
    
    


}

.navBar .CartWidget img{
   
    margin-left: 0px;
    

}

.navBar .CartWidget .notificacion{
    background-color: rgb(0, 0, 0);
    color: beige;
    height: 20%;
    width: 1.4rem;
    padding: 0.3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 8px;
    text-align: center;
}







@media screen and (max-width: 1200px) {
    
    .navBar .NavBar_Contenedor{

        
        width: 40rem;
        
        
    }
}

@media screen and (max-width: 920px) {
   
    .navBar .NavBar_Contenedor{

        
        width: 25rem;
        
        
    }

    

    .navBar .NavBar_Contenedor .NavBar_Categorias .btn{
        
        padding-left: 1rem;
        padding-right: 1rem;
        
        
    }
    .navBar .NavBar_Categorias   .NavBar_SubCategorias a .btnSub{
        
        left: 0.9rem;
        
    }


}

@media screen and (max-width: 700px) {
   
    .navBar .NavBar_Contenedor{

        
        width: 21rem;
        
        
    }

    .navBar .NavBar_Contenedor .NavBar_Categorias{
        
        border: 0px solid black;
        
        
    }

    .navBar .NavBar_Contenedor .NavBar_Categorias .btn{
        
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        border: 2px solid black;
        border-radius: 15px;
        
    }
    .navBar .NavBar_Categorias   .NavBar_SubCategorias a .btnSub{
        
        left: 0.9rem;
        
    }
    .header_titulo{

        color: rgb(255, 255, 255);
        font-size:2rem;
        padding: 1rem;
        height: 100%;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        
    
    }
    .header_marca{
        height: 5rem;
        width: 8rem;

    }
}

@media screen and (max-width: 700px) {

    .navBar .NavBar_Contenedor .NavBar_Categorias{
        height: 7.3rem;
    }

    .navBar  .NavBar_Categorias .categoriaPintura  .NavBar_SubCategorias a{
        position: relative;
        right: 0.8rem;
    }

    .navBar  .NavBar_Categorias .categoriaPintura .NavBar_SubCategorias a .btnSub{
        opacity: 1;
        visibility: visible;
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 0.5rem;
        position: relative;
        right: 1rem;
    }

    .navBar  .NavBar_Categorias .categoriaHerramienta  .NavBar_SubCategorias a{
        position: relative;
        right: 0.8rem;
    }

    .navBar  .NavBar_Categorias .categoriaHerramienta  .NavBar_SubCategorias a .btnSub{
        opacity: 1;
        visibility: visible;
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 0.5rem;
        position: relative;
        right: 1rem;
    }

    .navBar .NavBar_Contenedor{

        
        width: 18rem;
        
        
    }

    .navBar .CartWidget{
        display: none;
        position: relative;
        top: 20px;
    
    }

    .navBar .NavBar_Contenedor .NavBar_Categorias .categoriaPintura a button{
        
        font-size: small;
        
    }
    .navBar .NavBar_Contenedor .NavBar_Categorias .categoriaHerramienta a button{
        
        font-size: small;
        
    }
    .navBar .NavBar_Contenedor .NavBar_Categorias  .Link .btn{
        
        font-size: small;
        
    }

   

}